nav a {
  color: #adadad;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

thead {
  background-color: #eee;
}

tbody img {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

th input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.bg-menu {
  height: 4rem;
  position: fixed;
  bottom: 2.5rem;
  left: 0;
  right: 0;
  z-index: 9;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* box-shadow: 0 -1px 1px -1px rgba(0, 0, 0, 0.5); */
}

.menu {
  position: fixed;
  height: 4rem;
  bottom: 2.5rem;
  left: 0;
  right: 0;
  z-index: 99;
}